In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./Heart.csv')

In [3]:
data

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [4]:
data.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [5]:
data.tail()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [6]:
data.columns

Index(['Unnamed: 0', 'Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs',
       'RestECG', 'MaxHR', 'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'AHD'],
      dtype='object')

In [7]:
data.size

4545

In [8]:
data.shape

(303, 15)

In [9]:
data.describe()

,Unnamed: 0,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,299.000000
mean,152.000000,54.438944,0.679868,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.672241
std,87.612784,9.038662,0.467299,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.937438
min,1.000000,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,76.500000,48.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000
50%,152.000000,56.000000,1.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000
75%,227.500000,61.000000,1.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000
max,303.000000,77.000000,1.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000

In [10]:
data.rename(columns={'Sex':'Gender'},inplace=True)

In [11]:
data.head()

,Unnamed: 0,Age,Gender,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [12]:
data.isnull().sum()

Unnamed: 0    0
Age           0
Gender        0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [13]:
data = data.fillna(0)

In [14]:
data.tail()

,Unnamed: 0,Age,Gender,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,0.0,normal,No

In [15]:
data.dtypes

Unnamed: 0      int64
Age             int64
Gender          int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

In [16]:
data['Age'].min()

29

In [17]:
data['Age'].max()

77

In [18]:
data['Age'].mean()

54.43894389438944

In [19]:
data['Gender'].replace([0,1],['Female','Male'],inplace=True)

In [20]:
data.head()

,Unnamed: 0,Age,Gender,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,Male,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,Male,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,Male,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,Male,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,Female,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [21]:
data.drop('Unnamed: 0',axis=1)

,Age,Gender,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,Male,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,Male,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,Male,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,Male,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,Female,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,Male,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,68,Male,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,57,Male,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,57,Female,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,38,Male,nonanginal,138,175,0,0,173,0,0.0,1,0.0,normal,No

In [22]:
from sklearn.model_selection import train_test_split
X = data[['ChestPain','RestBP','Chol']]
Y = data['AHD']
X_train,X_test, Y_train,Y_test = train_test_split(X,Y,test_size=0.25)

In [23]:
X_train

        ChestPain  RestBP  Chol
273  asymptomatic     112   149
116    nonanginal     140   211
168  asymptomatic     126   282
258    nontypical     156   245
278    nontypical     154   232
..            ...     ...   ...
152    nonanginal     115   564
250  asymptomatic     110   201
185    nontypical     140   195
142    nontypical     128   205
230    nonanginal     136   196

[227 rows x 3 columns]

In [24]:
X_test

        ChestPain  RestBP  Chol
220    nonanginal     112   268
228  asymptomatic     110   206
91   asymptomatic     160   164
239    nontypical     120   295
260    nonanginal     118   242
..            ...     ...   ...
146  asymptomatic     165   289
0         typical     145   233
94     nonanginal     135   252
31   asymptomatic     117   230
23     nonanginal     132   224

[76 rows x 3 columns]

In [25]:
Y_train

273     No
116     No
168    Yes
258     No
278    Yes
      ...
152     No
250     No
185     No
142     No
230     No
Name: AHD, Length: 227, dtype: object

In [26]:
Y_test

220     No
228    Yes
91     Yes
239     No
260     No
      ...
146    Yes
0       No
94      No
31     Yes
23     Yes
Name: AHD, Length: 76, dtype: object